<% var data = { title: "Anthony Harper", name: "about", }; %> <%=
_.template(require('./../includes/header.html'))(data) %>

<article class="about__head"></article>
<article class="about__head_title">
  <h2 class="g__orage-title wow fadeInUp" data-wow-delay="0.3s">
    Lorem ipsum
  </h2>
  <h3 class="g__black-title wow fadeInUp" data-wow-delay="0.6s">
    About us
  </h3>
  <div class="g__block-description wow fadeInUp" data-wow-delay="0.9s">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt labore praesentium quaerat consequatur? Fugit commodi, sit culpa ipsa quam explicabo temporibus laboriosam a. Vitae nulla quasi non quas sapiente totam facilis ex eligendi ut voluptatem similique quis ipsum magnam quos, numquam cumque reprehenderit cum consequuntur repudiandae, hic ducimus obcaecati temporibus porro! Neque voluptates, suscipit dolore eveniet velit blanditiis laborum animi.
  </div>
</article>
<!-- /.about__head -->

<article class="about__vision">
  <div class="wrapper">
    <div class="about__vision_info">
      <h2
        class="g__orage-title wow fadeInUp"
        data-wow-delay="0.85s"
        data-wow-duration="1.1s"
      >
        Lorem ipsum
      </h2>
      <h3
        class="g__black-title  wow fadeInUp"
        data-wow-delay="0.85s"
        data-wow-duration="1.1s"
      >
        Our vision
      </h3>
      <div
        class="g__block-description wow fadeInUp"
        data-wow-delay="1s"
        data-wow-duration="0.9s"
      >
        Separated they live in Bookmarksgrove right at the coast of the
        Semantics, a large language ocean.
      </div>
      <div
        class="info--buttons wow fadeInUp"
        data-wow-delay="1.15s"
        data-wow-duration="0.7s"
      >
        <a href="" class="orange-button short"> <span>Portfolio</span> </a>
        <a href="" class="dark-button short"> <span>Start a Project</span> </a>
      </div>
    </div>
    <div class="about__vision_photo wow mask-wrap">
      <div class="mask wow revealInRight" data-wow-duration="1.15s"></div>
      <div class="photo--left">
        <img src="./img/about-us-vision-1.jpg" alt="" />
      </div>
      <div class="photo--right">
        <img src="./img/about-us-vision-2.jpg" alt="" />
        <img src="./img/about-us-vision-3.jpg" alt="" />
      </div>
    </div>
  </div>
</article>
<!-- /.about__vision -->

<article class="about__difference">
  <div class="wrapper">
    <h2 class="g__orage-title wow fadeInUp">About us</h2>
    <h3 class="g__black-title wow fadeInUp" data-wow-delay="0.3s">
      Our difference
    </h3>
    <div class="g__block-description wow fadeInUp" data-wow-delay="0.6s">
      There are many kinds of narratives and organizing principles. Science is
      driven by evidence.
    </div>
    <section class="about__difference_tile">
      <div class="tile--photo wow mask-wrap">
        <div class="mask wow revealInLeft" data-wow-duration="1.15s"></div>
        <img src="./img/about-difference-1.jpg" alt="" />
      </div>
      <div
        class="tile--info wow fadeInUp"
        data-wow-delay="0.85s"
        data-wow-duration="1.1s"
      >
        <b>On her way she met a copy.</b>
        <span
          >A small river named Duden flows by their place and supplies it with
          the necessary regelialia.</span
        >
      </div>
    </section>
    <section class="about__difference_tile">
      <div
        class="tile--info wow fadeInUp"
        data-wow-delay="0.85s"
        data-wow-duration="1.1s"
      >
        <b>Longe and Parole</b>
        <span
          >Separated they live in Bookmarksgrove right at the coast of the
          Semantics, a large language ocean.</span
        >
      </div>
      <div class="tile--photo wow mask-wrap">
        <div class="mask wow revealInRight" data-wow-duration="1.15s"></div>
        <img src="./img/about-difference-2.jpg" alt="" />
      </div>
    </section>
  </div>
</article>
<!-- /.about__difference -->

<article class="about__team">
  <div class="wrapper">
    <h2 class="g__orage-title wow fadeInUp">About us</h2>
    <h3 class="g__black-title wow fadeInUp" data-wow-delay="0.3s">Our team</h3>
    <div class="g__block-description wow fadeInUp" data-wow-delay="0.6s">
      There are many kinds of narratives and organizing principles. Science is
      driven by evidence.
    </div>
    <section class="about__team_filters wow fadeInUp" data-wow-delay="0.9s">
      <h4>
        <span id="about-filter">Sort by:</span>
      </h4>
      <ul class="filters--list">
        <li>
          <div class="dropdown">
            <span class="current" data-placeholder="Headquarter">Headquarter</span>
            <ul class="dropdown__list">
              <li data-value="choose-1">Choose #1</li>
              <li data-value="choose-1">Business Development and Marketing Manager</li>
              <li data-value="choose-1">Choose #3</li>
              <li data-value="choose-1">Choose #4</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <span class="current" data-placeholder="Seniority">Seniority</span>
            <ul class="dropdown__list">
              <li data-value="choose-1">Choose #1</li>
              <li data-value="choose-1">Choose #2</li>
              <li data-value="choose-1">Choose #3</li>
              <li data-value="choose-1">Choose #4</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <span class="current" data-placeholder="Name">Name</span>
            <ul class="dropdown__list">
              <li data-value="choose-1">Choose #1</li>
              <li data-value="choose-1">Choose #2</li>
              <li data-value="choose-1">Choose #3</li>
              <li data-value="choose-1">Choose #4</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <span class="current" data-placeholder="Team">Team</span>
            <ul class="dropdown__list">
              <li data-value="choose-1">Choose #1</li>
              <li data-value="choose-1">Choose #2</li>
              <li data-value="choose-1">Choose #3</li>
              <li data-value="choose-1">Choose #4</li>
            </ul>
          </div>
        </li>
      </ul>
    </section>
    <ul class="about__team_list">
      <li class="wow fadeInUp">
        <div class="photo">
          <img src="./img/about-us-team-1.jpg" alt="" />
        </div>
        <div class="info">
          <b>Partner | Public Law</b>
          <span>Katherine Anderson</span>
        </div>         
      </li>
      <li class="wow fadeInUp" data-wow-delay="0.3s">
        <div class="photo">
          <img src="./img/about-us-team-2.jpg" alt="" />
        </div>
        <div class="info">
          <b>Associate | Construction</b>
          <span>Sarah Anderson</span>
        </div>         
      </li>
      <li class="wow fadeInUp" data-wow-delay="0.6s">
        <div class="photo">
          <img src="./img/about-us-team-3.jpg" alt="" />
        </div>
        <div class="info">
          <b>Partner | Property</b>
          <span>Tim Barclay</span>
        </div>         
      </li>
      <li class="wow fadeInUp">
        <div class="photo">
          <img src="./img/about-us-team-4.jpg" alt="" />
        </div>
        <div class="info">
          <b>Partner | Employment</b>
          <span>Jackie Behrnes</span>
        </div>         
      </li>
      <li class="wow fadeInUp" data-wow-delay="0.3s">
        <div class="photo">
          <img src="./img/about-us-team-5.jpg" alt="" />
        </div>
        <div class="info">
          <b>Business Development and Marketing Manager</b>
          <span>Alex Campbell</span>
        </div>         
      </li>
      <li class="wow fadeInUp" data-wow-delay="0.6s">
        <div class="photo">
          <img src="./img/about-us-team-6.jpg" alt="" />
        </div>
        <div class="info">
          <b>Senior Associate | Property</b>
          <span>Tim Bunker</span>
        </div>         
      </li>
      <li class="wow fadeInUp">
        <div class="photo">
          <img src="./img/about-us-team-7.jpg" alt="" />
        </div>
        <div class="info">
          <b>Partner | Property</b>
          <span>Sylvia Cheah</span>
        </div>         
      </li>
      <li class="wow fadeInUp" data-wow-delay="0.3s">
        <div class="photo">
          <img src="./img/about-us-team-8.jpg" alt="" />
        </div>
        <div class="info">
          <b>Solicitor | Corporate Advisory</b>
          <span>Helen Chen</span>
        </div>         
      </li>
      <li class="wow fadeInUp" data-wow-delay="0.6s">
        <div class="photo">
          <img src="./img/about-us-team-9.jpg" alt="" />
        </div>
        <div class="info">
          <b>Senior Associate | Employment</b>
          <span>Gwen Drewitt</span>
        </div>         
      </li>
    </ul>
  </div>
</article>
<!-- /.about__team -->

<article class="about__getin">
  <div class="wrapper">
    <h2 class="g__orage-title wow fadeInUp">About us</h2>
    <h3 class="g__black-title wow fadeInUp" data-wow-delay="0.3s">
      Get in touch with our team now
    </h3>
    <div class="g__block-description wow fadeInUp" data-wow-delay="0.6s">
      There are many kinds of narratives and organizing principles. Science is
      driven by evidence.
    </div>
    <section class="about__getin_buttons wow fadeInUp" data-wow-delay="0.9s">
      <a href="" class="orange-button short"> <span>Portfolio</span> </a>
      <a href="" class="dark-button short"> <span>Start a Project</span> </a>
    </section>
  </div>
</article>
<!-- /.about__getin -->

<%= _.template(require('./../includes/footer.html'))(data) %>
