<% var data = { title: "Anthony Harper", name: "specialities", }; %> <%=
_.template(require('./../includes/header.html'))(data) %>

<article class="specialities__head"></article>
<article class="specialities__head_title">
  <h2 class="g__orage-title wow fadeInUp">Lorem ipsum</h2>
  <h3 class="g__black-title wow fadeInUp" data-wow-delay="0.3s">
    Our specialities
  </h3>
  <div class="g__block-description wow fadeInUp" data-wow-delay="0.6s">
    Many people has the notion that enlightenment is one state. Many also
    believe that when it is attained, a person is forever in that state.
  </div>
</article>
<!-- /.specialities__head -->

<article class="specialities__slider">
  <div class="wrapper">
    <div class="specialities__slider_slide">
      <div class="slide--info">
        <h2
          class="g__orage-title wow fadeInUp"
          data-wow-delay="0.85s"
          data-wow-duration="1.1s"
        >
          Lorem ipsum
        </h2>
        <h3
          class="g__black-title wow fadeInUp"
          data-wow-delay="0.85s"
          data-wow-duration="1.1s"
        >
          Multi-disciplined approach
        </h3>
        <div class="slide--photo-mobile wow mask-wrap">
          <div class="mask wow revealInRight" data-wow-duration="1.15s"></div>
          <img src="./img/specialities-slider-photo.jpg" alt="" />
        </div>      
        <div
          class="g__block-description wow fadeInUp"
          data-wow-delay="1s"
          data-wow-duration="0.9s"
        >
          Separated they live in Bookmarksgrove right at the coast of the
          Semantics, a large language ocean.
        </div>
        <div
          class="slide--info-more wow fadeInUp"
          data-wow-delay="1.15s"
          data-wow-duration="0.7s"
        >
          <a href="" class="orange-button"> <span>Learn more</span> </a>
        </div>
      </div>
      <div class="slide--photo wow mask-wrap">
        <div class="mask wow revealInRight" data-wow-duration="1.15s"></div>
        <img src="./img/specialities-slider-photo.jpg" alt="" />
      </div>      
    </div>
  </div>
</article>
<!-- /.specialities__slider -->

<article class="home__specialties">
  <div class="wrapper">
    <div class="home__specialties_orange-title wow fadeInUp">Who we are</div>
    <div
      class="home__specialties_black-title wow fadeInUp"
      data-wow-delay="0.3s"
    >
      Our Specialties
    </div>
    <div
      class="home__specialties_description wow fadeInUp"
      data-wow-delay="0.6s"
    >
      There are many kinds of narratives and organizing principles. Science is
      driven by evidence.
    </div>
    <div class="swiper-container home__specialties_list" id="home-specialties-slider">
      <div class="swiper-wrapper">
        <div class="home__specialties_list--item swiper-slide wow fadeInUp">
          <div class="specialties--photo">
            <img src="./img/sport-car.svg" alt="" />
          </div>
          <div class="specialties--title">Automotive</div>
          <div class="specialties--description">Brief service description</div>
        </div>
        <div class="home__specialties_list--item swiper-slide wow fadeInUp" data-wow-delay="0.3s">
          <div class="specialties--photo">
            <img src="./img/bank.svg" alt="" />
          </div>
          <div class="specialties--title">Banking & Finance</div>
          <div class="specialties--description">Brief service description</div>
        </div>
        <div class="home__specialties_list--item swiper-slide wow fadeInUp" data-wow-delay="0.6s">
          <div class="specialties--photo">
            <img src="./img/crane.svg" alt="" />
          </div>
          <div class="specialties--title">Construction</div>
          <div class="specialties--description">Brief service description</div>
        </div>
        <div class="home__specialties_list--item swiper-slide wow fadeInUp" data-wow-delay="0.9s">
          <div class="specialties--photo">
            <img src="./img/skyline.svg" alt="" />
          </div>
          <div class="specialties--title">Corporate Advisory</div>
          <div class="specialties--description">Brief service description</div>
        </div>
        <div class="home__specialties_list--item swiper-slide wow fadeInUp" data-wow-delay="0s">
          <div class="specialties--photo">
            <img src="./img/compass.svg" alt="" />
          </div>
          <div class="specialties--title">Cross Border Investments</div>
          <div class="specialties--description">Brief service description</div>
        </div>
        <div class="home__specialties_list--item swiper-slide wow fadeInUp" data-wow-delay="0.3s">
          <div class="specialties--photo">
            <img src="./img/employee.svg" alt="" />
          </div>
          <div class="specialties--title">Employment</div>
          <div class="specialties--description">Brief service description</div>
        </div>
        <div class="home__specialties_list--item swiper-slide wow fadeInUp" data-wow-delay="0.6s">
          <div class="specialties--photo">
            <img src="./img/profits.svg" alt="" />
          </div>
          <div class="specialties--title">Financial Services</div>
          <div class="specialties--description">Brief service description</div>
        </div>
        <div class="home__specialties_list--item swiper-slide wow fadeInUp" data-wow-delay="0.9s">
          <div class="specialties--photo">
            <img src="./img/restaurant.svg" alt="" />
          </div>
          <div class="specialties--title">Food & Beverage</div>
          <div class="specialties--description">Brief service description</div>
        </div>
        <div class="home__specialties_list--item swiper-slide wow fadeInUp" data-wow-delay="0s">
          <div class="specialties--photo">
            <img src="./img/receptionist.svg" alt="" />
          </div>
          <div class="specialties--title">Hotels</div>
          <div class="specialties--description">Brief service description</div>
        </div>
        <div class="home__specialties_list--item swiper-slide wow fadeInUp" data-wow-delay="0.3s">
          <div class="specialties--photo">
            <img src="./img/refugee.svg" alt="" />
          </div>
          <div class="specialties--title">Immigration</div>
          <div class="specialties--description">Brief service description</div>
        </div>
        <div class="home__specialties_list--item swiper-slide wow fadeInUp" data-wow-delay="0.6s">
          <div class="specialties--photo">
            <img src="./img/credit-card.svg" alt="" />
          </div>
          <div class="specialties--title">Insolvency & Corporate Recovery</div>
          <div class="specialties--description">Brief service description</div>
        </div>
        <div class="home__specialties_list--item swiper-slide wow fadeInUp" data-wow-delay="0.9s">
          <div class="specialties--photo">
            <img src="./img/insurance.svg" alt="" />
          </div>
          <div class="specialties--title">Insurance</div>
          <div class="specialties--description">Brief service description</div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <section class="home__main-slider_navigation wow fadeInUp" data-wow-delay="0.3s">
        <div class="home__main-slider_navigation--pagination">
          <b>01</b> <span>/05</span>
        </div>
        <div class="home__main-slider_navigation--arrows">
          <div class="arrow-prev"></div>
          <div class="arrow-next"></div>
        </div>
      </section>
    </div>
  </div>
</article>
<!-- /.home__specialties -->

<article class="about__getin">
  <div class="wrapper">
    <h2 class="g__orage-title wow fadeInUp">About us</h2>
    <h3 class="g__black-title wow fadeInUp" data-wow-delay="0.3s">
      Get in touch with our team now
    </h3>
    <div class="g__block-description wow fadeInUp" data-wow-delay="0.6s">
      There are many kinds of narratives and organizing principles. <br />
      Science is driven by evidence.
    </div>
    <section class="about__getin_buttons wow fadeInUp" data-wow-delay="0.9s">
      <a href="" class="orange-button short"> <span>Portfolio</span> </a>
      <a href="" class="dark-button short"> <span>Start a Project</span> </a>
    </section>
  </div>
</article>
<!-- /.about__getin -->


<!----------------------------------------------------------------------------------
                                    MODAL 
------------------------------------------------------------------------------------>

<div class="modal modal-specialties">
  <div class="modal__scroll">
      <div class="modal__wrapper">
          <i class="modal__close"></i>
      
          <div class="modal__title">Automotive</div>
          <div class="modal__body">
            <!-- Modal article -->
            <div class="modal__article">
              <p><b>Understanding your vision, your industry, your issues ... we are the team to trust</b></p>              
              <p>Our national practice works collaboratively across a number of disciplines including corporate, litigation, insolvency, debt collection, IP and finance to assemble multi-disciplinary teams to meet all your needs and requirements.</p>
              <label>Corporate Finance</label>
              <p>We offer advice for families and individuals wishing to work, live and study in New Zealand. Our lawyers are familiar with the types of visa to apply for and provide assistance on applications for permanent residence and naturalisation.</p>
              <blockquote>
                <label>Banking</label>
                <span>Extremely high intellectual skill level.</span>
              </blockquote>              
              <p>We are recognised for our industry-specific legal work, including property finance, leveraged finance, agriculture finance, maritime and shipping finance, irrigation schemes (including structuring and public issuer compliance), fisheries and aquaculture finance, aviation finance and retirement village funding.</p>                                                
              <blockquote>
                <label>Insolvency</label>
                <span>They get the job done, and deliver the outcome the client wants, to the best of their abilities.</span>
              </blockquote>
              <p>Our expertise includes:</p>
              <p class="li">banks, credit unions, and other non-bank deposit takers on governance, compliance, and licensing</p>
              <p class="li">work on investment funds and other managed investment schemes (including property syndicates), and advising fund managers on licensing, compliance and dealings with regulators</p>
              <p class="li">advising insurers on policy drafting and interpretation, marketing, claims, and licensing matters</p>
              <p class="li">working with supervisors on their own business, and on their supervisory activities</p>
              <p>We work with vehicle manufacturers, dealers, suppliers, logistic businesses and motor finance companies.To read our New Zealand Business Law: A Guide for Trading and Investing, click here.</p>        
              <p>This comprehensive Guide provides an overview of some key legal considerations for investing or trading with a New Zealand Business. The Guide covers topics including the Fair Trading Act, the Consumer Guarantees Act and the Credit Contracts and Consumer Finance Act.</p>        
              <p>
                To read our New Zealand Business Law: 
                <a href="">A Guide for Trading and Investing</a>
              </p>              
            </div>
            <!-- / -->

            <!-- Representative Transactions -->
            <div class="modal__transactions">
              <div class="modal__transactions_title">Representative Transactions</div>
              <ul>
                <li>acting for Environment Canterbury in relation to the Waimakariri Flood Protection works</li>
                <li>advising a leading civil works construction company on the use of alliancing documentation for significant North Island roading projects, with alliance participants that include Government agencies, private contracting companies and multiple professional advisors</li>                
                <li>advising cement producer Holcim New Zealand on its multi-million dollar acquisition of a shareholding in Atlas Resources</li>
                <li>acting for the Mackenzie District Council, as both regulatory authority and the owner of land and facilities, in connection with construction of the Opuha Dam</li>
                <li>acting for the Canterbury District Health Board on Historic Places Trust and planning issues in relation to the former Queen Mary Hospital site at Hanmer</li>
                <li>acting for the Selwyn Plantation Board in successfully obtaining groundwater extraction resource consents</li>
              </ul>
            </div>
            <!-- / -->

            <!-- Our awards -->
            <div class="modal__awards">
              <div class="modal__awards_title">Our awards</div>
              <div class="modal__awards_list">
                <img src="./img/modal-awards-1" alt="">
                <img src="./img/modal-awards-2" alt="">
                <img src="./img/modal-awards-3" alt="">
              </div>
            </div>
            <!-- / -->
            
            <!-- Our expertise covers: -->
            <div class="modal__expertise">
              <div class="modal__expertise_title">Our expertise covers:</div>
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <img src="./img/modal-photo-1.jpg" alt="">
                    <b>Ewe Leong Lim</b>
                    <span>Partner</span>
                  </div>
                  <div class="swiper-slide">
                      <img src="./img/modal-photo-2.jpg" alt="">
                      <b>Sylvia Cheah</b>
                      <span>Partner</span>
                  </div>
                  <div class="swiper-slide">
                      <img src="./img/modal-photo-3.jpg" alt="">
                      <b>Geoff Hosking</b>
                      <span>Partner</span>
                  </div>
                  <div class="swiper-slide">
                      <img src="./img/modal-photo-1.jpg" alt="">
                      <b>Ewe Leong Lim</b>
                      <span>Partner</span>
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/modal-photo-2.jpg" alt="">
                        <b>Sylvia Cheah</b>
                        <span>Partner</span>
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/modal-photo-3.jpg" alt="">
                        <b>Geoff Hosking</b>
                        <span>Partner</span>
                    </div>
                </div>            
              </div>
              <!-- If we need navigation buttons -->
              <div class="modal__expertise_prev"></div>
              <div class="modal__expertise_next"></div>
            </div>   
            <!-- / -->   
          </div>
        </div>
  </div>  
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>
