<% var data = { title: "Anthony Harper", name: "about", }; %> <%=
_.template(require('./../includes/header.html'))(data) %>

<article class="profile">
  <div class="wrapper">
      <div class="modal__flex">
          <div class="modal__flex_title">
            <div class="title--photo">
              <img src="./img/modal-photo.jpg" alt="">
            </div>
            <div class="title--name">
              <b>Jackie Behrnes</b>
              <span>Partner</span>
            </div>
            <ul class="title--list">
              <li>
                <!-- <i>
                  <img src="./img/suitcase.svg" alt="">
                </i> -->
                <span>
                    <a href="javascript:void(0)" data-specialty-id="568">Automotive</a>
                    |
                    <a href="javascript:void(0)" data-specialty-id="571">Corporate Advisory</a>
                    |
                    <a href="javascript:void(0)" data-specialty-id="575">Food &amp; Beverage</a>
                    |
                    <a href="javascript:void(0)" data-specialty-id="600">Retail</a>
                  </span>
              </li>
              <li>
                <i>
                  <img src="./img/mail.svg" alt="">
                </i>                    
                <a href="mailto:jackie.behrnes@ah.co.nz">jackie.behrnes@ah.co.nz</a>
              </li>
              <li>
                <i>
                  <img src="./img/phone-call.svg" alt="">
                </i>
                <a href="tel:+6421918551">+64 21 918 551</a>
              </li>
              <li>
                <i>
                  <img src="./img/smartphone.svg" alt="">
                </i>
                <a href="tel:+6433643810">+64 3 364 3810</a>
              </li>                    
            </ul>
          </div>
          <div class="modal__flex_body">
            <ul class="modal__info-list">
                <li>Jackie Behrnes</li>
                <li>Partner</li>
                <li>Corporate Advisory | Retail | Automotive</li>
                <li>Kiev</li>
            </ul>
            <div class="modal__article">
              <p>
                <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</b>
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum officia deserunt mollit anim id est laborum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum </p>
            </div>

            <div class="modal__awards">                  
              <div class="modal__awards_list">
                <img src="./img/modal-awards-1" alt="">
                <img src="./img/modal-awards-2" alt="">
                <img src="./img/modal-awards-3" alt="">
              </div>
            </div>

            <div class="modal__transactions">
              <div class="modal__transactions_title">Representative Transactions</div>
              <ul>
                <li>Regularly advising Mercedes-Benz New Zealand Limited on a range of commercial legal matters. </li>
                <li>Regularly advising Lion - Beer, Spirits &amp; Wine (NZ) Ltd on the sale and purchase of various hospitality businesses and on its investment in Foley Family Wines (NZAX listed).</li>
                <li>Advising on the formation of the Brewers Association of New Zealand and the formation of NZ Alcohol Beverages Council.</li>
                <li>Advising on the sale of Heritage Trustee Company Limited (an FMA licenced supervisor of debt securities and registered schemes (including KiwiSaver)) to Sargon Capital.</li>
                <li>Advising insurance and mortgage broker MPIP Group on its acquisition of Preferred NZ insurance brokers. </li>
                <li>Advising retirement living and aged care operator Generus Living Group on its investment in Holly Lea Village and on the formation of Pacific Lakes Village. </li>
                <li>Advising on the sale of Palms Aged Care to Heritage Lifecare.</li>
                <li>Advising TerraNova Homes and Care on the sale of its West Harbour Gardens, Jervois Road and Riverleigh aged care facilities. </li>
                <li>Advising Mercedes-Benz NZ on the sale of the Mercedes-Benz and Freightliner heavy commercial vehicle distribution
business in New Zealand.
</li>
                <li>Advising Mercedes-Benz NZ (then named DaimlerChrysler New Zealand Limited) on the New 
Zealand aspects of the DaimlerChrysler worldwide demerger.
</li>
                <li>Advising a consortium of investors on the acquisition of the NZ and Australian building product manufacturer Thermakraft and on Thermakraft's subsequent purchase of Ausmesh.</li>
                <li>Advising Connector Systems on the sale of its NZ and Australian electronic parts supply businesses to Fortune 
500 company Ingram Micro.
</li>
                <li>Advising investors in Carpet Court on the issue of convertible loan notes.</li>
                <li>Advising on the sale of telephone software company Zeacom Group to Toronto Stock Exchange listed Enghouse 
Systems Limited.
</li>
                <li>Advising on the sale of MediaWorks by receivers appointed by Westpac, Rabobank, JP Morgan, RBS, TPG, Tokyo Opportunities.</li>
                <li>Advising on the sale of EziPay (prepaid card business) to Epay, including revised arrangements following the 
Commerce Commission declining a clearance application by Epay.
</li>
                <li>Advising on the acquisition of Williment World Travel by TUI Travel PLC.</li>
                <li>Advising on the sale of the Beds R Us franchise business in NZ and Australia.</li>
                <li>Advising a private company on its co-investment with Allegro Funds by a complementary business 
and the issue of convertible loans notes.
</li>
                <li>Advising The A2 Milk Company (NZAX then NZX listed) on its rights issues and various business acquisitions.</li>
                <li>Advising Comfort Group on its acquisition of Dunlop Living (NZ) and Pacific Brands’ bedding division (Australia).</li>
                <li>Advising on worldwide pre-pack sale of Canterbury Clothing to JD Sports.</li>
                <li>Advising on the acquisition of touch screen manufacturer NextWindow Limited by Smart Technologies Limited 
(NASDAQ and Toronto Stock Exchange listed).
</li>
        </ul>
            </div>

            <div class="modal__transactions">
                <div class="modal__transactions_title">Representative Transactions</div>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </li>
                  <li>Lorem ipsum dolor sit amet, consectetur </li>
                  <li>Lorem ipsum dolor sit amet, consectetur </li>
                </ul>
              </div>
          </div>
        </div> 
  </div>
</article>
<!-- /.profile -->




<%= _.template(require('./../includes/footer.html'))(data) %>
