<% var data = {
  title: "Anthony Harper",
  name: "thinking",
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<article class="thinking__head">
  <div class="wrapper">
    <section class="thinking__head_title">
      <h2 class="g__orage-title">Lorem ipsum</h2>
      <h3 class="g__black-title">Our thinking</h3>
      <div class="g__block-description">But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her.</div>          
    </section>
  </div>
</article>
<!-- /.thinking__head -->

<article class="thinking__slider">
    <div class="wrapper">
      <section class="home__main-slider_navigation">
        <div class="home__main-slider_navigation--pagination">
          <span class="swiper-pagination-current">01</span> / <span class="swiper-pagination-total">03</span>
        </div>        
        <div class="home__main-slider_navigation--arrows">
          <div class="arrow-prev"></div>
          <div class="arrow-next"></div>
        </div>
      </section>
      <div class="thinking__slider_slide">
        <div class="slide--photo">
          <img src="./img/thinking-slide.jpg" alt="">
        </div>
        <div class="slide--info">
          <time class="g__orage-title">March 14th, 2019</time>
          <h3 class="g__black-title">Multi-disciplined approach</h3>
          <div class="g__block-description">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</div>
          <div class="slide--info-more">
            <a href="" class="orange-button">
              <span>Learn more</span>
            </a>
          </div>
        </div>
      </div>
    </div>
</article>
<!-- /.thinking__slider -->

<article class="thinking__blogs">
  <div class="wrapper">
    <section class="thinking__blogs_head">
      <div class="head--title">
        <h2 class="g__orage-title">Who we are</h2>
        <h3 class="g__black-title">Our thinking</h3>
      </div>
      <div class="head--filters">
        <div class="head--filters-title">Filter by:</div>
        <div class="head--filters-body">
          <div class="select">
            <select name="" id="">
              <option value="">Choose tag</option>
              <option value="">Automotive</option>
              <option value="">Banking & Finance</option>
              <option value="">Construction</option>
              <option value="">Corporate Advisory</option>
              <option value="">Cross Border Investments</option>
              <option value="">Employment</option>
            </select>
            <i></i>
          </div>
          <input type="text" placeholder="Choose date" id="datepicker">
        </div>
      </div>
    </section>
    <section class="thinking__blogs_list">
      <div class="list--item">
        <div class="item--photo">
          <img src="./img/thinking-blog-1.jpg" alt="">
        </div>
        <time>March 14th, 2019</time>
        <h4>Many people has the notion </h4>
        <div class="list--description">Many people has the notion that enlightenment is one state. Many also believe that when it is attained.</div>
        <div class="list--more">
          <a href="">Read more</a>
        </div>
      </div>
      <div class="list--item">
        <div class="item--photo">
          <img src="./img/thinking-blog-2.jpg" alt="">
        </div>
        <time>March 14th, 2019</time>
        <h4>A Brief History Of Creation</h4>
        <div class="list--description">Many people has the notion that enlightenment is one state. Many also believe that when it is attained.</div>
        <div class="list--more">
          <a href="">Read more</a>
        </div>
      </div>
      <div class="list--item">
        <div class="item--photo">
          <img src="./img/thinking-blog-3.jpg" alt="">
        </div>
        <time>March 14th, 2019</time>
        <h4>Peace On Earth A Wonderful Wish</h4>
        <div class="list--description">Many people has the notion that enlightenment is one state. Many also believe that when it is attained.</div>
        <div class="list--more">
          <a href="">Read more</a>
        </div>
      </div>
      <div class="list--item">
        <div class="item--photo">
          <img src="./img/thinking-blog-4.jpg" alt="">
        </div>
        <time>March 14th, 2019</time>
        <h4>Believing Is The Absence Of Doubt</h4>
        <div class="list--description">Many people has the notion that enlightenment is one state. Many also believe that when it is attained.</div>
        <div class="list--more">
          <a href="">Read more</a>
        </div>
      </div>
      <div class="list--item">
        <div class="item--photo">
          <img src="./img/thinking-blog-5.jpg" alt="">
        </div>
        <time>March 14th, 2019</time>
        <h4>Internet Advertising Trends</h4>
        <div class="list--description">Many people has the notion that enlightenment is one state. Many also believe that when it is attained.</div>
        <div class="list--more">
          <a href="">Read more</a>
        </div>
      </div>
      <div class="list--item">
        <div class="item--photo">
          <img src="./img/thinking-blog-6.jpg" alt="">
        </div>
        <time>March 14th, 2019</time>
        <h4>Getting Cheap Airfare For Last Minute Travel</h4>
        <div class="list--description">Many people has the notion that enlightenment is one state. Many also believe that when it is attained.</div>
        <div class="list--more">
          <a href="">Read more</a>
        </div>
      </div>
      <div class="list--item">
        <div class="item--photo">
          <img src="./img/thinking-blog-7.jpg" alt="">
        </div>
        <time>March 14th, 2019</time>
        <h4>Get The Boot A Birds Eye Look Into Mcse </h4>
        <div class="list--description">Many people has the notion that enlightenment is one state. Many also believe that when it is attained.</div>
        <div class="list--more">
          <a href="">Read more</a>
        </div>
      </div>
      <div class="list--item">
        <div class="item--photo">
          <img src="./img/thinking-blog-8.jpg" alt="">
        </div>
        <time>March 14th, 2019</time>
        <h4>Internet Advertising Trends</h4>
        <div class="list--description">Many people has the notion that enlightenment is one state. Many also believe that when it is attained.</div>
        <div class="list--more">
          <a href="">Read more</a>
        </div>
      </div>
      <div class="list--item">
        <div class="item--photo">
          <img src="./img/thinking-blog-1.jpg" alt="">
        </div>
        <time>March 14th, 2019</time>
        <h4>Getting Cheap Airfare For Last Minute Travel</h4>
        <div class="list--description">Many people has the notion that enlightenment is one state. Many also believe that when it is attained.</div>
        <div class="list--more">
          <a href="">Read more</a>
        </div>
      </div>
    </section>
    <div class="thinking__blogs_more">
      <a href="" class="orange-button">
        <span>Show more</span>
      </a>
    </div>
  </div>
</article>
<!-- /.thinking__blogs -->



    


  <%= _.template(require('./../includes/footer.html'))(data) %>