@import '~reset-css/sass/reset';
@import '~swiper/dist/css/swiper.min.css';
@import '~air-datepicker/dist/css/datepicker.min.css';
@import '/vars';
@import '/global';
@import './animate';

/* ==========================================================================
   Header 
   ========================================================================== */
header {
}

.home header {
  background-color: #e6e5d8;
}

header .wrapper {
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 170px;
}
.header__logo img {
  width: 100%;
}
.header__nav {
  list-style: none;
  margin: 0px;
  padding: 0;
  display: flex;
  .linkedin {
    margin-top: 63px;
    display: none;
  }
  .linkedin a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/linkedin.svg) no-repeat 50%/contain;
    transition: all .2s ease;
  }
}
.header__nav > li {
  margin-right: 25px;
}
.header__nav > li:last-child {
  margin-right: 0;
}
.header__nav > li a {
  display: inline-block;
  padding: 0 17px;
  position: relative;
  font-family: LucidaGrande;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4c5c4f;
}
.header__nav > li.current a {
  color: $orange;
}
.header__nav > li a::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background-color: $orange;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: all 250ms ease;
}
.header__nav > li:hover a::after {
  width: 100%;
}
.header__nav > li.current a::after {
  width: 100%;
}

.header__tocontacts {
}
.header__tocontacts a {
  display: inline-flex;
  width: 170px;
  height: 54px;
  justify-content: center;
  align-items: center;
  background-color: rgba(230, 121, 44, 1);
  font-family: LucidaGrande;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  transition: all 300ms ease;
  position: relative;
  &::before {
    content: attr(data-text);
    z-index: 1;
  }
  &::after {
    content: '';
    display: block;
    width: 0%;
    height: 100%;
    background-color: $buttonHover;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 300ms ease;
  }
  &:hover::after {
    width: 100%;
  }    
}
.header__nav_button {
  display: none;
  justify-content: center;
  flex-direction: column;
  width: 24px;
  height: 19px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  position: relative;
  transition: all 300ms ease;
  &::before {
    content: "";
    display: block;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 300ms ease;
  }
  &::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 300ms ease;
  }
}

/* ==========================================================================
   Home
   ========================================================================== */
.home__main-slider {
  padding-top: 25px;
  background-color: #e6e5d8;
  height: 790px;
}
.home__main-slider_slide {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.home__main-slider_slide .slide--left {
  width: 695px;
  padding: 218px 0px 153px 0px;
}
.home__main-slider_slide .swiper-slide {
  padding-left: 97px;
}
.home__main-slider_slide .orange-title {
  font-family: LucidaGrande;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: $orange;
  margin-bottom: 11px;
}
.home__main-slider_slide .black-title {
  font-family: Helvetica;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 34px;
}
.home__main-slider_slide .description {
  font-family: Hind;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: #4c5c4f;
  margin-bottom: 30px;
}
.home__main-slider_slide .more a {
  display: inline-block;
  font-family: LucidaGrande;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $orange;
  padding-right: 37px;
  position: relative;
  transition: all 250ms ease;
}
.home__main-slider_slide .more a::before {
  content: '';
  display: block;
  height: 1px;
  width: 21px;
  background-color: $orange;
  position: absolute;
  right: 4px;
  top: calc(50% - 1px);
  transition: all 250ms ease;
}
.home__main-slider_slide .more a::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 3.5px solid transparent;
  border-left: 4px solid $orange;
  border-bottom: 3.5px solid transparent;
  position: absolute;
  right: 0;
  top: calc(50% - 4px);
  transition: all 250ms ease;
}
.home__main-slider_slide .more a:hover {
  /*color: #4c5c4f;*/
}
.home__main-slider_slide .more a:hover:before {
  /*background-color: #4c5c4f;*/
  width: 31px;
  right: -6px;
}
.home__main-slider_slide .more a:hover:after {
  /*border-left-color: #4c5c4f;*/
  right: -10px;
}

.home__main-slider_slide .slide--right {
  position: relative;
  flex-grow: 1;
  text-align: right;
  background-color: #e6e5d8;
}

.home__main-slider_slide .slide--right .video {
  width: 905px;
  height: 905px;
  margin-left: auto;
  position: relative;
}
.home__main-slider_slide .slide--right .video::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.77;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.02) 0%,
    #000000
  );
  position: absolute;
  top: 0;
  left: 0;
  transition: all 150ms ease;
}
.home__main-slider_slide .slide--right .video::after {
  content: '';
  display: block;
  width: 136px;
  height: 136px;
  background: url('../img/video-play.svg') no-repeat center / cover;
  position: absolute;
  top: calc(50% - 68px);
  left: calc(50% - 68px);
  transition: all 250ms ease;
  cursor: pointer;
}
.home__main-slider_slide .slide--right .video:hover::before {
  opacity: 1;
}
.home__main-slider_slide .slide--right .video:hover::after {
  transform: scale(1.1);
}

.home__main-slider_slide .slide--right .video img {
  width: 100%;
}
.home__main-slider_navigation {
  position: absolute;
  top: 87px;
  left: 97px;
  z-index: 1;
  font-family: LucidaGrande;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $orange;
}
.home__main-slider_navigation .swiper-pagination-current {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  display: inline-block;
  margin-right: -2px;
}
.home__main-slider_navigation .swiper-pagination-total {
  display: inline-block;
  margin-left: -3px;
}
.home__main-slider_navigation--arrows {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.home__main-slider_navigation--arrows .arrow-prev {
  width: 28px;
  height: 24px;
  position: relative;
  overflow: hidden;
  transition: all 200ms ease;
  cursor: pointer;
}
.home__main-slider_navigation--arrows .arrow-prev::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: $orange;
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  transition: all 300ms ease;
}
.home__main-slider_navigation--arrows .arrow-prev::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 5px solid $orange;
  border-bottom: 4px solid transparent;
  position: absolute;
  left: 0;
  top: calc(50% - 4px);
  transform: rotate(180deg);
  transition: all 300ms ease;
}

.home__main-slider_navigation--arrows .arrow-next {
  width: 54px;
  height: 24px;
  position: relative;
  overflow: hidden;
  transition: all 200ms ease;
  cursor: pointer;
}
.home__main-slider_navigation--arrows .arrow-next::before {
  content: '';
  display: block;
  width: 99%;
  height: 2px;
  background-color: $orange;
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  transition: all 300ms ease;
}
.home__main-slider_navigation--arrows .arrow-next::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 5px solid $orange;
  border-bottom: 4px solid transparent;
  position: absolute;
  right: 0;
  top: calc(50% - 4px);
  transition: all 300ms ease;
}
.home__main-slider_navigation--arrows .swiper-button-disabled::before {
  background-color: #000;
}
.home__main-slider_navigation--arrows .swiper-button-disabled::after {
  border-left-color: #000;
}
.home__main-slider_navigation--arrows
  .arrow-prev:hover:not(.swiper-button-disabled) {
  width: 38px;
  margin-left: -10px;
}
.home__main-slider_navigation--arrows
  .arrow-next:hover:not(.swiper-button-disabled) {
  width: 64px;
  margin-right: -10px;
}

.home__specialties {
  background-color: #fdfbf3;
  margin-top: 100px;
  padding: 95px 0 584px 0;
}
.home__specialties_orange-title {
  font-family: LucidaGrande;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: $orange;
  text-align: center;
}
.home__specialties_black-title {
  font-family: Helvetica;
  font-size: 52px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #4c5c4f;
  margin-top: 6px;
}
.home__specialties_description {
  width: 525px;
  margin: 40px auto 0 auto;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: center;
  color: #8f8f8f;
}
.home__specialties_list {
  width: 1380px;
  margin: 80px auto 0 auto;
  padding: 0;    
  .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.home__specialties_list .home__specialties_list--item {
  width: 330px;
  height: 270px;
  margin-bottom: 30px;
  transition: all 300ms ease;
}
.home__specialties_list .home__specialties_list--item:hover {
  background-color: #f4e1d4;
}
.home__specialties_list .specialties--photo {
  margin: 63px auto 0 auto;
  width: 51px;
  height: 53px;
}
.home__specialties_list .specialties--photo img {
  max-width: 100%;
  max-height: 100%;
}
.home__specialties_list .specialties--title {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: center;
  color: #4c5c4f;
  transition: all 300ms ease;
}
.home__specialties_list > li:hover .specialties--title {
  color: #000000;
}
.home__specialties_list .specialties--description {
  margin-top: 6px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: center;
  color: #8f8f8f;
  transition: all 300ms ease;
}
.home__specialties_list > li:hover .specialties--description {
  color: #ff8234;
}
.home__specialties_more {
  margin-top: 19px;
}
.home__specialties_more .orange-button {
  margin: auto;
}
.home__thinking {
  margin-top: -415px;
  z-index: 1;
  position: relative;
}
.home__thinking_head {
  margin-left: 215px;
  display: flex;
}
.home__thinking_title {
  width: 480px;
  padding-left: 30px;
}
.home__thinking_title span {
  font-family: LucidaGrande;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: $orange;
  display: block;
}
.home__thinking_title b {
  display: block;
  margin-top: 6px;
  font-family: Helvetica;
  font-size: 52px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: #4c5c4f;
}
.home__thinking_description {
  margin-top: 23px;
  width: 450px;
  font-family: Hind;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: #8f8f8f;
  align-self: flex-end;
}
.home__thinking_body {
  margin-top: 80px;
  margin-left: 215px;
  display: flex;
  justify-content: space-between;
  width: 1290px;
}
.home__thinking_tile {
  position: relative;
  padding: 45px 41px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.home__thinking_tile .tile--photo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.home__thinking_tile .tile--photo::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
}
.home__thinking_tile .tile--photo::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #e6e5d8;
  transition: all 300ms ease;
  z-index: 1;
  opacity: 0;
}
.home__thinking_tile:hover .tile--photo::after {
  opacity: 1;
}
.home__thinking_tile .tile--photo img {
  width: 100%;
  height: 100%;
}
.home__thinking_tile .tile--date {
  font-family: LucidaGrande;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $orange;
  margin-bottom: 12px;
  transition: all 300ms ease;
}
.home__thinking_tile .tile--title {
  font-family: Hind;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 12px;
  transition: all 300ms ease;
}
.home__thinking_tile .tile--description {
  font-family: Hind;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: #9c9c9c;
  margin-bottom: 30px;
  transition: all 300ms ease;
}
.home__thinking_tile .tile--more a {
  font-family: LucidaGrande;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $orange;
  padding-right: 37px;
  position: relative;
  transition: all 300ms ease;
}
.home__thinking_tile .tile--more a::before {
  content: '';
  display: block;
  height: 1px;
  width: 21px;
  background-color: $orange;
  position: absolute;
  right: 4px;
  top: calc(50% - 1px);
  transition: all 300ms ease;
}
.home__thinking_tile .tile--more a::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 3.5px solid transparent;
  border-left: 4px solid $orange;
  border-bottom: 3.5px solid transparent;
  position: absolute;
  right: 0;
  top: calc(50% - 4px);
  transition: all 300ms ease;
}
.home__thinking_tile .tile--more a:hover::before {
  width: 31px;
  right: -6px;
}
.home__thinking_tile .tile--more a:hover::after {
  right: -10px;
}

.thinking_body--left .home__thinking_tile {
  width: 690px;
  height: 698px;
}
.thinking_body--right .home__thinking_tile {
  width: 570px;
  height: 334px;
}
.thinking_body--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__thinking_tile:hover .tile--date {
  color: #4c5c4f;
}
.home__thinking_tile:hover .tile--title {
  color: #000;
}
.home__thinking_tile:hover .tile--description {
  color: #4c5c4f;
}
.home__thinking_tile:hover .tile--more a {
  color: #4c5c4f;
}
.home__thinking_tile:hover .tile--more a::before {
  background-color: #4c5c4f;
}
.home__thinking_tile:hover .tile--more a::after {
  border-left-color: #4c5c4f;
}
.home__get-in-touch {
  margin-top: 191px;
  margin-bottom: -410px;
}
.home__get-in-touch .wrapper {
  display: flex;
  justify-content: space-between;
}
.home__get-in-touch_title {
  padding: 65px 55px 0 215px;
}
.home__get-in-touch_title span {
  font-family: Hind;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: #d57e1c;
  display: block;
}
.home__get-in-touch_title b {
  font-family: Hind;
  font-size: 52px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: #4c5c4f;
  display: block;
}
.home__get-in-touch_form {
  width: 760px;
  padding: 82px 95px 83px 95px;
  background-color: #fdfbf3;
  position: relative;
  z-index: 1;
}
.home__get-in-touch_form .form--title {
  font-family: Hind;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: #979797;
  margin-bottom: 38px;
  width: 407px;
}
.home__get-in-touch_form .form--input {
  min-width: 38px;
}
.home__get-in-touch_form .form--input input {
  width: 570px;
  height: 82px;
  background-color: #ffffff;
  padding: 0 26px;
  font-family: Hind;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: $orange;
  transition: all 300ms ease;
  outline: none;
  border: 1px solid transparent;
}
.home__get-in-touch_form .form--input input:focus,
.home__get-in-touch_form .form--textarea textarea:focus {
  border: 1px solid $orange;
  background-color: transparent;
}
.home__get-in-touch_form .form--textarea {
  margin-top: 33px;
}
.home__get-in-touch_form .form--textarea textarea {
  width: 100%;
  height: 246px;
  padding: 24px 26px;
  font-family: Hind;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: $orange;
  transition: all 300ms ease;
  outline: none;
  border: 1px solid transparent;
}
.home__get-in-touch_form .form--submit {
  margin-top: 50px;
}
.home__get-in-touch_form .form--submit button {
  outline: none;
  width: 316px;
  height: 62px;
}
.home__about {
  margin-top: 202px;
  .wrapper {
    display: flex;
    .home__about_photo {
      display: flex;
      margin-right: 150px;
      .photo--left {
        width: 185px;
        margin-right: 30px;
        img {
          width: 100%;
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .photo--right {
        width: 570px;
        padding-top: 107px;
        img {
          width: 100%;
        }
      }
    }
    .home__about_info {
      width: 450px;
      padding-top: 214px;
      .home__about_more {
        margin-top: 40px;
      }
    }
  }
}

/* ==========================================================================
   Careers
   ========================================================================== */
.careers {
}
.careers__company {
  margin-top: 200px;
}
.careers__company .wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 215px;
  align-items: center;
}
.careers__company_left {
  width: 450px;
}
.careers__company_orange-title {
  font-family: LucidaGrande;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: $orange;
}
.careers__company_black-title {
  margin-top: 6px;
  font-family: Helvetica;
  font-size: 52px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: $h3Color;
}
.careers__company_description {
  margin-top: 40px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  // color: $descriptionColor;
}
.careers__company_right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.careers__company_photo-1 {
  height: 570px;
}
.careers__company_photo-2 {
  height: 496px;
  margin-left: 30px;
}
.careers__company_photo-1 img,
.careers__company_photo-2 img {
  max-width: 100%;
  max-height: 100%;
}
.careers__team {
  margin-top: 185px;
}
.careers__team .wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 215px;
  align-items: center;
}
.careers__team_left {
  display: flex;
  align-items: flex-end;
}
.careers__team_photo-1 {
  width: 570px;
}
.careers__team_photo-2 {
  width: 185px;
  margin-right: 30px;
}
.careers__team_photo-1 img,
.careers__team_photo-2 img {
  width: 100%;
}
.careers__team_right {
  width: 450px;
}
.careers__company_orange-title {
  font-family: LucidaGrande;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: $orange;
}
.careers__company_black-title {
  margin-top: 6px;
  font-family: Helvetica;
  font-size: 52px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: #4c5c4f;
}
.careers__company_description {
  margin-top: 40px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: #737981;
}

.careers__current {
  margin-top: 207px;
  background-color: #fbf7f2;
  overflow: hidden;
}
.careers__current_orange-title {
  margin-top: 92px;
  font-family: LucidaGrande;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: center;
  color: $orange;
}
.careers__current_black-title {
  margin-top: 9px;
  font-family: Helvetica;
  font-size: 52px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #4c5c4f;
}
.careers__current_description {
  margin-top: 7px;
  width: 525px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: center;
  color: #8f8f8f;
  margin: auto;
}
.careers__current_list {
  margin: 130px auto 218px auto;
  padding: 0;
  list-style: none;
  width: 1170px;
}
.careers__current_list > li {
  display: flex;
  padding: 58px 84px 58px 99px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(76, 88, 79, 0.25);
  margin-bottom: 20px;
  min-height: 220px;
  transition: all 250ms ease;
}
.careers__current_list > li:hover {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(76, 88, 79, 0);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.08);
}
.careers__current_list > li:last-child {
  margin-bottom: 0;
}
.careers__current_list .li--body {
  width: 450px;
}
.careers__current_list .li--title {
  font-family: LucidaGrande;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.13;
  letter-spacing: normal;
  color: #4c5c4f;
}
.careers__current_list .li--description {
  margin-top: 8px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: #8f8f8f;
}

.careers__join {
  .wrapper {
    display: flex;
    .careers__join_photo {
      width: 815px;
      margin-right: 120px;
      img {
        width: 100%;
      }
    }
    .careers__join_info {
      margin-top: 135px;
      width: 450px;
      .careers__join_more {
        margin-top: 40px;
      }
    }
  }
}

/* ==========================================================================
   Contact-us
   ========================================================================== */
.contacts {
}
.contacts__head {
  height: 523px;
  background: url('../img/AP-4870.jpg') no-repeat center / cover;
  position: relative;
}
.contacts__head::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.02) 34%,
    #000000
  );
}
.contacts__head .wrapper {
  position: relative;
  height: 100%;
}
.contacts__head_title {
  width: 935px;
  background-color: #e6e5d8;
  position: absolute;
  left: 0;
  bottom: -120px;
  padding: 90px 215px;
}
.contacts__head_title .title-orange {
  font-family: LucidaGrande;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: $orange;
}
.contacts__head_title .title-black {
  margin-top: 6px;
  font-family: Helvetica;
  font-size: 52px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: #000000;
}
.contacts__head_title .title-desciption {
  margin-top: 26px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: #4c5c4f;
}
.contacts__title {
  margin-top: 246px;
}
.contacts__title_orange {
  font-family: LucidaGrande;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: center;
  color: $orange;
}
.contacts__title_black {
  margin-top: 6px;
  font-family: Helvetica;
  font-size: 52px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #4c5c4f;
}
.contacts__title_description {
  margin-top: 40px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: center;
  color: #8f8f8f;
}
.contacts__form {
  margin-top: 90px;
  background-color: #fdfbf3;
}
.contacts__form_body {
  width: 930px;
  margin: auto;
  padding: 78px 0 58px 0;
}
.contacts__form_inputs {
  display: flex;
  justify-content: space-between;
}
.contacts__form_inputs input {
  width: 450px;
  height: 82px;
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  outline: none;
  transition: all 300ms ease;
  font-family: LucidaGrande;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: $orange;
  padding: 0 26px;
}
.contacts__form_inputs input:focus {
  border-color: $orange;
}
.contacts__form_select {
  margin-top: 25px;
  position: relative;
}
.contacts__form_select select {
  width: 100%;
  height: 82px;
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  outline: none;
  transition: all 300ms ease;
  font-family: Hind;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: rgba(76, 92, 79, 1);
  padding: 0 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.contacts__form_select select:focus {
  border-color: $orange;
}
.contacts__form_select select option:first-child {
  opacity: 0.5;
}
.contacts__form_select select::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: red;
}
.contacts__form_select > i {
  background: url('../img/angle-arrow-down.svg') no-repeat center / cover;
  display: block;
  width: 10px;
  height: 8px;
  position: absolute;
  top: calc(50% - 4px);
  right: 35px;
  transition: all 300ms ease;
}
.contacts__form_select select:fovus + i {
  transform: rotate(180deg);
}
.contacts__form_textarea {
  margin-top: 30px;
  height: 246px;
}
.contacts__form_textarea textarea {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  outline: none;
  transition: all 300ms ease;
  font-family: LucidaGrande;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: $orange;
  padding: 25px 26px;
}
.contacts__form_textarea textarea:focus {
  border-color: $orange;
}
.contacts__form_submit {
  text-align: center;
  margin-top: 50px;
}
.contacts__form_submit button {
  margin: auto;
}
.contacts__visit {
  padding-top: 110px;
  padding: 110px 0 114px 0;
}
.contacts__visit_orange {
  font-family: LucidaGrande;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: center;
  color: $orange;
}
.contacts__visit_black {
  margin-top: 6px;
  font-family: Helvetica;
  font-size: 52px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #4c5c4f;
}
.contacts__visit_description {
  margin-top: 40px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: center;
  color: #8f8f8f;
}
.contacts__visit_description p {
  margin: 0;
  padding: 0;
}
.contacts__visit_social {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts__visit_social a {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: 0 12px;
  transition: all 250ms ease;
}
.contacts__visit_social a svg {
  width: 100%;
  height: 100%;
  transition: all 250ms ease;
}
.contacts__visit_social a svg path {
  transition: all 250ms ease;
  transform-origin: center;
}
.contacts__visit_social a:hover svg {
  transform: scale(1.2);
}
.contacts__visit_social a:hover svg .social--ring {
  transform: rotate(90deg);
}

/* ==========================================================================
   About-us
   ========================================================================== */

.about__head {
  height: 523px;
  background: url(../img/about-us-head.jpg) no-repeat center / cover;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.02) 34%,
      #000000
    );
  }
  .wrapper {
    height: 100%;
    position: relative;
    .about__head_title {
      width: 935px;
      background-color: #e6e5d8;
      position: absolute;
      left: 0;
      bottom: -120px;
      padding: 90px 215px;
      .g__block-description {
        color: $h3Color;
      }
    }
  }
}
.about__vision {
  margin-top: 248px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .about__vision_info {
      margin: 138px 0 0 215px;
      width: 450px;
      .info--buttons {
        margin-top: 65px;
        display: flex;
        .orange-button {
          margin-right: 20px;
        }
      }
    }
    .about__vision_photo {
      display: flex;
      justify-content: flex-end;
      .photo--left {
        width: 570px;
        padding-top: 137px;
        margin-right: 52px;
        img {
          width: 100%;
        }
      }
      .photo--right {
        display: flex;
        flex-direction: column;
        width: 165px;
        img {
          width: 100%;
          margin-bottom: 55px;
        }
      }
    }
  }
}
.about__difference {
  margin-top: 150px;
  .wrapper {
    padding: 0 215px;
    h2 {
      text-align: center;
    }
    h3 {
      text-align: center;
      margin-top: 9px;
    }
    .g__block-description {
      margin-top: 7px;
      color: $darkBorder;
      text-align: center;
      width: 525px;
      margin: 7px auto 170px auto;
    }
    .about__difference_tile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 70px;
      &:last-child {
        margin-bottom: 0;
      }
      .tile--photo {
        width: 570px;
        height: 570px;
        img {
          width: 100%;
        }
      }
      .tile--info {
        width: 570px;
        padding: 0 60px 0 90px;
        b {
          display: block;
          font-family: Helvetica;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 3.11;
          letter-spacing: normal;
          color: $h3Color;
        }
        span {
          display: block;
          font-family: Helvetica;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.89;
          letter-spacing: normal;
          color: $darkBorder;
        }
      }
    }
  }
}
.about__team {
  margin-top: 222px;
  background-color: #fbf7f2;
  padding: 112px 0 20px 0;
  .g__orage-title {
    text-align: center;
  }
  .g__black-title {
    margin-top: 9px;
    text-align: center;
  }
  .g__block-description {
    margin: 7px auto 0 auto;
    width: 525px;
    text-align: center;
    color: $darkBorder;
  }
  .about__team_filters {
    margin-top: 38px;
    h4 {
      font-family: LucidaGrande;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.89;
      letter-spacing: normal;
      text-align: center;
      color: $darkBorder;
    }
    .filters--list {
      margin: 20px 0 0 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      li {
        width: 152px;
        height: 55px;
        margin-right: 20px;
        a {
          display: inline-flex;
          width: 100%;
          height: 100%;
          position: relative;
          justify-content: center;
          align-items: center;
          font-family: Helvetica;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $h3Color;
          border: 1px solid $darkBorder;
          transition: all 300ms ease;
          span {
            display: inline-block;
            position: relative;
            z-index: 1;
          }
          &::before {
            content: '';
            display: block;
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transition: all 0.3s ease;
            background-color: $buttonHover;
            transition: all 300ms ease;
            z-index: 0;
          }
          &:hover {
            color: #fff;
            border-color: $buttonHover;
          }
          &:hover::before {
            width: 100%;
          }
        }
        &.current a {
          background-color: $orange;
          border-color: $orange;
          color: #fff;
          pointer-events: none;
        }
      }
    }
  }
  .about__team_list {
    margin: 92px auto 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    width: 990px;
    flex-wrap: wrap;
    li {
      width: 330px;
      text-align: center;
      margin-bottom: 93px;
      img {
        width: 156px;
        height: 156px;
        border-radius: 50%;
      }
      b {
        display: block;
        margin-top: 30px;
        font-family: LucidaGrande;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.89;
        letter-spacing: normal;
        text-align: center;
        color: $h3Color;
      }
      span {
        display: block;
        margin-top: 6px;
        font-family: LucidaGrande;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.89;
        letter-spacing: normal;
        text-align: center;
        color: $darkBorder;
      }
    }
  }
}
.about__getin {
  padding: 118px 0 130px 0;
  .g__orage-title {
    text-align: center;
  }
  .g__black-title {
    margin-top: 8px;
    text-align: center;
  }
  .g__block-description {
    margin-top: 8px;
    text-align: center;
  }
  .about__getin_buttons {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    a {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* ==========================================================================
   Our specialities
   ========================================================================== */
.specialities {
  .home__specialties {
    margin-top: 165px;
    padding-bottom: 83px;
  }
}
.specialities__head {
  height: 523px;
  background: url('../img/our-specialities-head.jpg') no-repeat center / cover;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.02) 34%,
      #000000
    );
  }
  .wrapper {
    height: 100%;
    position: relative;
    .specialities__head_title {
      width: 935px;
      background-color: #e6e5d8;
      position: absolute;
      left: 0;
      bottom: -120px;
      padding: 90px 215px;
      .g__block-description {
        color: $h3Color;
      }
    }
  }
}
.specialities__slider {
  margin-top: 270px;
}
.specialities__slider_slide {
  display: flex;
  justify-content: space-between;
  padding-left: 215px;
  .slide--info {
    padding-top: 200px;
    width: 450px;
    .slide--info-more {
      margin-top: 68px;
    }
  }
  .slide--photo {
    width: 834px;
    img {
      width: 100%;
    }
  }
  .slide--photo-mobile {
    display: none;
  }
}

/* ==========================================================================
   Our thinking 
   ========================================================================== */
.thinking__head {
  height: 523px;
  background: url('../img/our-thinking_head.jpg') no-repeat center / cover;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.02) 34%,
      #000000
    );
  }
  .wrapper {
    height: 100%;
    position: relative;
    .thinking__head_title {
      width: 935px;
      background-color: #e6e5d8;
      position: absolute;
      left: 0;
      bottom: -120px;
      padding: 90px 215px;
      .g__block-description {
        color: $h3Color;
      }
    }
  }
}
.thinking__slider {
  margin-top: 315px;
  .wrapper {
    position: relative;
  }
  .home__main-slider_navigation {
    left: initial;
    right: 215 + 450 + px;
    transform: translateX(100%);
  }
  .slide--photo {
    width: 773px;
    img {
      width: 100%;
    }
  }
  .slide--info {
    width: 450px;
    margin-right: 215px;
    padding-top: 217px;
    .g__orage-title {
      font-size: 14px;
    }
    .g__black-title {
      margin-top: 12px;
    }
    .g__block-description {
      margin-top: 12px;
    }
    .slide--info-more {
      margin-top: 80px;
    }
  }
}
.thinking__slider_slide {
  display: flex;
  justify-content: space-between;
}

.thinking__blogs {
  margin: 138px 0;
  .wrapper {
    padding: 0 95px;
  }
  .thinking__blogs_head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .head--title {
      .g__black-title {
        margin-top: 0;
      }
    }
    .head--filters {
      .head--filters-title {
        font-family: LucidaGrande;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $descriptionColor;
      }
      .head--filters-body {
        margin-top: 15px;
        display: flex;
      }
      .select {
        position: relative;
        margin-right: 20px;
        & i {
          background: url('../img/angle-arrow-down.svg') no-repeat center /
            cover;
          display: block;
          width: 10px;
          height: 8px;
          position: absolute;
          top: calc(50% - 4px);
          right: 15px;
          transition: all 300ms ease;
        }
        & select:fovus + i {
          transform: rotate(180deg);
        }
        select {
          width: 215px;
          height: 50px;
          background-color: #ffffff;
          border: 1px solid #c7c7c7;
          outline: none;
          transition: all 300ms ease;
          font-family: Hind;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.89;
          letter-spacing: normal;
          color: rgba(76, 92, 79, 1);
          padding: 0 26px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-radius: 0;
          &:focus {
            border-color: $orange;
          }
          & option:first-child {
            opacity: 0.5;
          }
          &::after {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            background-color: red;
          }
        }
      }
      input {
        width: 215px;
        height: 50px;
        background-color: #ffffff;
        border: 1px solid #c7c7c7;
        outline: none;
        transition: all 300ms ease;
        font-family: Hind;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.89;
        letter-spacing: normal;
        color: rgba(76, 92, 79, 1);
        padding: 0 26px;
        background: url('../img/icon-calendar.svg') no-repeat center right 18px /
          20px auto;
        &:focus {
          border-color: $orange;
        }
        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: rgba(76, 92, 79, 1);
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(76, 92, 79, 1);
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: rgba(76, 92, 79, 1);
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: rgba(76, 92, 79, 1);
        }
      }
    }
  }
}
.thinking__blogs_list {
  margin-top: 58px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .list--item {
    width: 450px;
    height: 450px;
    padding: 54px 49px 50px 39px;
    margin-bottom: 30px;
    position: relative;
    time {
      font-family: LucidaGrande;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $orange;
      z-index: 1;
      position: relative;
      transition: all 300ms ease;
    }
    h4 {
      margin-top: 12px;
      font-family: Hind;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.47;
      letter-spacing: normal;
      color: #ffffff;
      z-index: 1;
      position: relative;
      transition: all 300ms ease;
    }
    .list--description {
      margin-top: 15px;
      font-family: Hind;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.89;
      letter-spacing: normal;
      color: #9c9c9c;
      z-index: 1;
      position: relative;
      transition: all 300ms ease;
    }
    .list--more {
      margin-top: 39px;
      font-family: LucidaGrande;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      z-index: 1;
      position: relative;
      a {
        color: $orange;
        position: relative;
        padding-right: 37px;
        transition: all 300ms ease;
        &::before {
          content: '';
          display: block;
          height: 1px;
          width: 21px;
          background-color: #e6792c;
          position: absolute;
          right: 4px;
          top: calc(50% - 1px);
          transition: all 0.3s ease;
        }
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-top: 3.5px solid transparent;
          border-left: 4px solid #e6792c;
          border-bottom: 3.5px solid transparent;
          position: absolute;
          right: 0;
          top: calc(50% - 4px);
          transition: all 0.3s ease;
        }
        &:hover::before {
          width: 31px;
          right: -6px;
        }
        &:hover::after {
          right: -10px;
        }
      }
    }
    .item--photo {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
      z-index: 0;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #e6e5d8;
        opacity: 0;
        transition: all 300ms ease;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    &:hover {
      .item--photo::after {
        opacity: 1;
      }
      time {
        color: $h3Color;
      }
      h4 {
        color: #000;
      }
      .list--description {
        color: $h3Color;
      }
      .list--more a {
        color: $h3Color;
        &::before {
          background-color: $h3Color;
        }
        &::after {
          border-left-color: $h3Color;
        }
      }
    }
  }
}
.thinking__blogs_more {
  margin-top: 61px;
  text-align: center;
  a {
    margin: auto;
  }
}

.contacts__form_select select {
  width: 100%;
  height: 82px;
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  outline: none;
  transition: all 300ms ease;
  font-family: Hind;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: rgba(76, 92, 79, 1);
  padding: 0 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.contacts__form_select select:focus {
  border-color: $orange;
}
.contacts__form_select select option:first-child {
  opacity: 0.5;
}
.contacts__form_select select::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: red;
}
.contacts__form_select > i {
  background: url('../img/angle-arrow-down.svg') no-repeat center / cover;
  display: block;
  width: 10px;
  height: 8px;
  position: absolute;
  top: calc(50% - 4px);
  right: 35px;
  transition: all 300ms ease;
}
.contacts__form_select select:fovus + i {
  transform: rotate(180deg);
}
.contacts__form_textarea {
  margin-top: 30px;
  height: 246px;
}

/* ==========================================================================
   Map 
   ========================================================================== */

#map {
  width: 100%;
  height: 724px;
  position: relative;
}
#map::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  /*background-image: linear-gradient(to bottom, transparent 50%, rgba(27, 35, 29, 1) 100%);    */

  background: linear-gradient(
    to bottom,
    rgba(125, 185, 232, 0) 50%,
    rgba(27, 35, 29, 0.95) 95%,
    rgba(27, 35, 29, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  z-index: 1;
  pointer-events: none;
}

#map .marker-window-info {
  background: url('../img/map-infowindow.png') no-repeat 10px 32px / 13px 21px;
  font-family: Hind;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9c9c9c;
  padding: 25px 0 25px 40px;
}
#map .marker-window-info__orange {
  color: $orange;
}
#map .marker-window-info a {
  color: #9c9c9c;
  text-decoration: underline;
}
#map .marker-window-info p {
  margin: 0;
  padding: 5px 0;
}
#map .gmnoprint {
  /*display: none;*/
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  height: 296px;
  background-color: #1b231d;
}
.footer__top {
  padding: 105px 215px 0 215px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  width: 171px;
  height: 41px;
}
.footer__logo img {
  width: 100%;
}
.footer__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.footer__nav li {
  margin-right: 50px;
}
.footer__nav li:last-child {
  margin-right: 0;
}
.footer__nav li a {
  font-family: Hind;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  transition: all 200ms ease;
}
.footer__nav li a:hover {
  color: $orange;
}
.footer__bottom {
  padding: 54px 215px 0 215px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  font-family: LucidaGrande;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.footer__copyright a {
  color: $orange;
  transition: all 200ms ease;
}
.footer__copyright a:hover {
  color: #fff;
}
.footer__social {
}
.footer__social .linkedin {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../img/linkedin.svg') no-repeat center / cover;
  transition: all 200ms ease;
}
.footer__social .linkedin:hover {
  background-image: url('../img/linkedin-hover.svg');
}


@import '/mq';
